services:

  vrc-ta-hub:
    container_name: 'vrc-ta-hub'
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
    env_file:
      # - .env
      - .env.local
    environment:
      - DEBUG=True
    ports:
      - '8015:8080'
    networks:
      - my_network

networks:
  my_network:
    external: true
