services:

  vrc-ta-hub:
    container_name: 'vrc-ta-hub'
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
      - ./docs:/docs
    env_file:
      # - .env
      - .env.local
    environment:
      - DEBUG=True
    ports:
      - '8015:8080'
    networks:
      - my_network
    # 開発環境: コード変更時に自動リロード
    command: python manage.py runserver 0.0.0.0:8080

networks:
  my_network:
    external: true
