boto3==1.34.118
django==4.2.*
django-storages==1.11.1
mysqlclient==2.2.4
Pillow==10.3.0
icalendar==5.0.12
requests==2.32.3
google-auth==2.29.0
google-api-python-client==2.131.0
google-auth-oauthlib==1.2.0
google-generativeai==0.6.0
django-bootstrap5==24.2
pysqlite3==0.5.3
markdown==3.6
youtube-transcript-api==0.6.2
bleach==6.1.0
# djangorestframework==3.11.1
# django-filter==2.3.0
