{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>技術・学術イベントHubってなに？ - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="技術・学術イベントHubってなに？ - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="技術・学術イベントHubってなに？ - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="VRChat技術・学術系イベントHubは、VRChatで開催されている技術学術系イベントを知って、参加してもらい、盛り上げていくための仕組み作りをしているグループです。Web、本、電子書籍、アセットなど様々な方法で技術学術系集会を紹介しています。">
    <meta name="twitter:description"
          content="VRChat技術・学術系イベントHubは、VRChatで開催されている技術学術系イベントを知って、参加してもらい、盛り上げていくための仕組み作りをしているグループです。Web、本、電子書籍、アセットなど様々な方法で技術学術系集会を紹介しています。">
    <meta property="og:description"
          content="VRChat技術・学術系イベントHubは、VRChatで開催されている技術学術系イベントを知って、参加してもらい、盛り上げていくための仕組み作りをしているグループです。Web、本、電子書籍、アセットなど様々な方法で技術学術系集会を紹介しています。">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/VRChat_Hub.png">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/VRChat_Hub.png">
{% endblock %}
{% block main %}
    <!-- 3 icons end -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1 class="text-center my-5 fw-bold keiko_yellow">技術・学術イベントHub ってなに？</h1>
                    <p class="lead">
                        VRChatで開催されている技術学術系イベントを知って、参加してもらい、盛り上げていくための仕組み作りをしているグループです</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2 class="my-3 my-5 text-center text-primary fw-bold">
                        技術・学術系イベントを知ってもらう取り組み</h2>
                    {# 1 #}
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://data.vrc-ta-hub.com/images/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88_2024-06-10_23.20.14-480.png"
                                 class="img-thumbnail rounded rounded-4 img-fluid mb-3" alt="Webサイトの制作・運営"
                            >
                        </div>
                        <div class="col-md-8">
                            <h3 class="">1. Webサイトの制作・運営</h3>
                            <p class=""><a href="https://vrc-ta-hub.com/">VRChat技術学術系イベントHub</a>の制作や運営をしています
                            </p>
                        </div>
                    </div>

                    {# 2 #}
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://data.vrc-ta-hub.com/images/9f219e3e-faa4-4247-80a5-ca381c545aae_base_resized-480.png"
                                 class="img-thumbnail rounded rounded-4 img-fluid mb-3"
                                 alt="VRChat 技術・学術イベントガイド 本">
                        </div>
                        <div class="col-md-8">
                            <h3 class="">2. VRC 技術・学術イベントガイド 本</h3>
                            <p class="">
                                VRChatで開催されている技術・学術系のイベント情報をまとめた書籍を作ってVketRealやコミケで販売
                            </p>
                        </div>
                    </div>
                    {# 3 #}
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://data.vrc-ta-hub.com/images/F_rNzcMasAAvFPW-480.png"
                                 class="img-thumbnail rounded rounded-4 img-fluid mb-3"
                                 alt="VRChat 技術・学術イベントガイド 本（デジタル版）"
                            >
                        </div>
                        <div class="col-md-8">
                            <h3 class="">3. VRC 技術・学術イベントガイド 本（デジタル版）</h3>
                            <p class="">
                                VRChatで開催されている技術・学術系のイベント情報をまとめた電子書籍を<a
                                    href="https://booth.pm/ja/items/5307031">ブースで配布</a>
                            </p>
                        </div>
                    </div>
                    {# 4 #}
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://data.vrc-ta-hub.com/images/VRChat_2023-10-24_23-09-50.771_1920x1080-720-480.png"
                                 class="img-thumbnail rounded rounded-4 img-fluid mb-3"
                                 alt="技術・学術系イベント情報アセット">
                        </div>
                        <div class="col-md-8">
                            <h3 class="">4. 技術・学術系イベント情報アセット</h3>
                            <p class="">
                                VRChat技術学術系のイベントを一覧で表示できるアセットを無料配布
                            </p>
                            <p>
                                <a href="https://twitter.com/azukimochi25/status/1721888965924720929"
                                   target="_blank">
                                    JPチュートリアルワードにも設置</a>されているアセットです。<br>
                                ぜひあなたのワールドにも設置してみてください。<a
                                    href="https://azukimochi.github.io/vpm-repos-world/">
                                VCCから導入</a>できます。
                            </p>
                        </div>
                    </div>

                </div>

                <h2 class="mb-4 text-center">貢献者</h2>
                <div class="row justify-content-center mb-5">
                    <div class="col-4 col-md-2 text-center">
                        <a href="https://x.com/sime_ker" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <img src="https://pbs.twimg.com/profile_images/1223870853235888131/Sb5VhSlh_400x400.jpg"
                                 alt="〆くん"
                                 height="100" width="100"
                                 class="rounded-circle object-fit-cover mb-2">
                            <div>〆くん</div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2 text-center">
                        <a href="https://twitter.com/yonabenoyona" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <img src="https://pbs.twimg.com/profile_images/1494696646839468034/SqMG2VJF_400x400.jpg"
                                 alt="夜鍋ヨナ"
                                 height="100" width="100"
                                 class="rounded-circle object-fit-cover mb-2">
                            <div>夜鍋ヨナ</div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2 text-center">
                        <a href="https://x.com/noricha_vr" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <img src="https://pbs.twimg.com/profile_images/1580377369139122177/001aahge_400x400.jpg"
                                 alt="のりちゃん"
                                 height="100" width="100"
                                 class="rounded-circle object-fit-cover mb-2">
                            <div>のりちゃん</div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2 text-center">
                        <a href="https://twitter.com/azukimochi25" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <img src="https://pbs.twimg.com/profile_images/1731239103864381440/-wzz_XSL_400x400.jpg"
                                 alt="Azukimochi"
                                 height="100" width="100"
                                 class="rounded-circle object-fit-cover mb-2">
                            <div>Azukimochi</div>
                        </a>
                    </div>
                    <div class="col-4 col-md-2 text-center">
                        <a href="https://x.com/YYa0928" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <img src="https://pbs.twimg.com/profile_images/1399405944522477572/DNy7jUc__400x400.jpg"
                                 alt="慕狼ゆに"
                                 height="100" width="100"
                                 class="rounded-circle object-fit-cover mb-2">
                            <div>慕狼ゆに</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}