{% extends 'ta_hub/base.html' %}
{% block main %}
    <!-- 3 icons end -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1 class="text-center my-5 fw-bold">技術・学術イベントHub ってなに？</h1>
                    <p class="lead">
                        VRChatで開催されている技術学術系イベントを知って、参加してもらい、盛り上げていくための仕組み作りをしているグループです</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2 class="my-3 my-4 text-center">技術・学術系イベントを知ってもらう取り組み</h2>

                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://pbs.twimg.com/media/F_rNzcMasAAvFPW?format=jpg&name=large"
                                 class="img-fluid mb-3" alt="Webサイトの制作・運営"
                            >
                        </div>
                        <div class="col-md-8">
                            <h3 class="">1. Webサイトの制作・運営</h3>
                            <p class="">このWebサイトの制作や運営をしています</p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://s2.booth.pm/f1ace405-3317-463a-8f8d-c07ac3a68d0e/i/5307031/9f219e3e-faa4-4247-80a5-ca381c545aae_base_resized.jpg"
                                 class="img-fluid mb-3"
                                 alt="VRChat 技術・学術イベントガイド 本">
                        </div>
                        <div class="col-md-8">
                            <h3 class="">2. VRChat 技術・学術イベントガイド 本</h3>
                            <p class="">
                                VRChatで開催されている技術・学術系のイベント情報をまとめた書籍を作ってVketRealで販売
                            </p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://pbs.twimg.com/media/F_rNzcMasAAvFPW?format=jpg&name=large"
                                 class="img-fluid mb-3"
                                 alt="VRChat 技術・学術イベントガイド 本（デジタル版）"
                            >
                        </div>
                        <div class="col-md-8">
                            <h3 class="">3. VRChat 技術・学術イベントガイド 本（デジタル版）</h3>
                            <p class="">
                                VRChatで開催されている技術・学術系のイベント情報をまとめた電子書籍をブースで配布
                            </p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-md-4">
                            <img src="https://pbs.twimg.com/media/F-VgRNaacAAq40Q?format=jpg&name=4096x4096"
                                 class="img-fluid mb-3"
                                 alt="技術・学術系イベント情報アセット">
                        </div>
                        <div class="col-md-8">
                            <h3 class="">4. 技術・学術系イベント情報アセット</h3>
                            <p class="">
                                VRChat技術学術系のイベントを一覧で表示できるアセットを無料配布
                            </p>
                            <p>
                                <a href="https://twitter.com/azukimochi25/status/1721888965924720929"
                                   target="_blank">
                                    JPチュートリアルワードにも設置</a>されているアセットです。<br>
                                ぜひあなたのワールドにも設置してみてください。<a
                                    href="https://azukimochi.github.io/vpm-repos-world/">
                                VCCから導入</a>できます。
                            </p>
                        </div>
                    </div>

                </div>

                <h2 class="mb-4 text-center">貢献者</h2>
                <div class="d-flex justify-content-center mb-5">
                    <div class="me-4">
                        <a href="https://x.com/sime_ker" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <div>
                                <img src="https://pbs.twimg.com/profile_images/1223870853235888131/Sb5VhSlh_400x400.jpg"
                                     alt="〆くん"
                                     height="100" width="100"
                                     class="rounded-circle object-fit-cover">
                            </div>
                            <div class="text-center">
                                〆くん
                            </div>
                        </a>
                    </div>
                    <div class="me-4">
                        <a href="https://twitter.com/yonabenoyona" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <div>
                                <img src="https://pbs.twimg.com/profile_images/1494696646839468034/SqMG2VJF_400x400.jpg"
                                     alt="夜鍋ヨナ"
                                     height="100" width="100"
                                     class="rounded-circle object-fit-cover">
                            </div>
                            <div class="text-center">
                                夜鍋ヨナ
                            </div>
                        </a>
                    </div>
                    <div class="me-4">
                        <a href="https://x.com/noricha_vr" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <div>
                                <img src="https://pbs.twimg.com/profile_images/1580377369139122177/001aahge_400x400.jpg"
                                     alt="のりちゃん"
                                     height="100" width="100"
                                     class="rounded-circle object-fit-cover">
                            </div>
                            <div class="text-center">
                                のりちゃん
                            </div>
                        </a>
                    </div>
                    <div class="me-4">
                        <a href="https://twitter.com/azukimochi25" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <div>
                                <img src="https://pbs.twimg.com/profile_images/1731239103864381440/-wzz_XSL_400x400.jpg"
                                     alt="Azukimochi"
                                     height="100" width="100"
                                     class="rounded-circle object-fit-cover">
                            </div>
                            <div class="text-center">
                                Azukimochi
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="https://x.com/YYa0928" class="text-primary" target="_blank"
                           style="text-decoration: none;">
                            <div>
                                <img src="https://pbs.twimg.com/profile_images/1399405944522477572/DNy7jUc__400x400.jpg"
                                     alt="慕狼ゆに"
                                     height="100" width="100"
                                     class="rounded-circle object-fit-cover">
                            </div>
                            <div class="text-center">
                                慕狼ゆに
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}