{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="container mt-4">
        <!-- 3 icons end -->

        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="">技術・学術イベントhub ってなに？</h1>
                        <p class="lead">
                            VRChatで開催されている技術学術系イベントを知ってもらい、参加してもらうための仕組み作りをしている団体です</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2 class="my-3">技術・学術系イベントを知ってもらう取り組み</h2>
                        <h3 class="">1. Webページの制作・運営</h3>
                        <p class="lead">VRChatで開催されている技術・学術系のイベント情報をまとめた書籍です。</p>
                        <h3 class="">2. VRChat 技術・学術イベントガイド 本</h3>
                        <p class="lead">
                            VRChatで開催されている技術・学術系のイベント情報をまとめた書籍を作ってVketRealで販売。</p>
                        <h3 class="">3. VRChat 技術・学術イベントガイド 本（デジタル版）</h3>
                        <p class="lead">
                            VRChatで開催されている技術・学術系のイベント情報をまとめた電子書籍をブースで配布。</p>
                        <h3 class="">4. 技術・学術系イベント情報アセット</h3>
                        <p class="lead">VRChat技術学術系のイベントを一覧で表示できるアセットを無料配布中！
                        </p>
                        <p>
                            <a href="https://twitter.com/azukimochi25/status/1721888965924720929" target="_blank">
                                JPチュートリアルワードにも設置</a>されているアセットです。<br>
                            ぜひあなたのワールドにも設置してみてください。<a
                                href="https://azukimochi.github.io/vpm-repos-world/">
                            VCCから導入</a>できます。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}