{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="jumbotron">
                    <h1 class="my-5">VRChat 技術学術系 イベント開催情報</h1>
                    <div class="d-flex justify-content-center">
                        <iframe src="https://calendar.google.com/calendar/embed?src=fbd1334d10a177831a23dfd723199ab4d02036ae31cbc04d6fc33f08ad93a3e7%40group.calendar.google.com"
                                style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}