{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta name="twitter:description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta property="og:description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1 class="text-center my-5 fw-bold keiko_yellow">VRChat技術・学術系イベントHubの使い方</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2 class="my-3 my-5 text-center text-primary fw-bold">
                        参加者向け</h2>
                    <div class="mb-4">
                        <h3 class="">1. 集会を探す</h3>
                        <p class="">VRChat技術・学術系イベントHubでは、VRChat内で開催される様々な技術・学術系の集会を見つけることができます。
                            <a href="https://vrc-ta-hub.com/community/list">集会一覧</a>
                            ページから、キーワード検索やカテゴリー検索を利用して、あなたにぴったりの集会を探してみましょう。
                        </p>
                    </div>

                    <div class="mb-4">
                        <h3 class="">2. イベントを探す</h3>
                        <p class="">
                            <a href="https://vrc-ta-hub.com/event">イベント開催日程</a>ページでは、VRChat内で開催される様々なイベント情報を掲載しています。日時、参加方法などの詳細情報も確認できますので、ぜひチェックしてみてください。
                        </p>
                    </div>

                    <div class="mb-4">
                        <h3 class="">3. 集会に参加するには？</h3>
                        <p class="">
                            集会に参加するには、各集会の詳細ページに記載されている参加方法に従ってください。多くの場合、VRChatのグループに参加するか、主催者にフレンド申請をすることで参加できます。Twitterをフォローしたり、Discordに参加してみるのもおすすめです。
                        </p>
                    </div>
                </div>
                <h2 class="my-3 my-5 text-center text-primary fw-bold">
                    主催者向け</h2>
                <div class="mb-4">
                    <h3 class="">1. 集会を登録するには？</h3>
                    <p class="">VRChat技術・学術系イベントHubで集会を告知するには、まず
                        <a href="https://vrc-ta-hub.com/account/register">アカウント登録</a>
                        が必要です。登録後、マイページから集会情報を登録できます。集会の名称、開催日時、場所（ワールド）、内容などの情報を入力してください。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">2. 集会を公開するには？</h3>
                    <p class="">
                        登録した集会は、他の技術・学術系集会に承認してもらうことで公開されるようになります。技術・学術系のフレンドに声をかけてみてください。
                    </p>
                    <p>
                        ※ 承認済みの集会を運営している方は、設定の「承認待集会一覧」から、公開を希望する集会を選択し、「承認」してください。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">3. 集会情報を更新するには？</h3>
                    <p class="">
                        集会情報はログイン後、<a href="{% url 'account:settings' %}">
                        設定
                    </a>からいつでも更新できます。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">4. カレンダーに開催日程を登録するには？</h3>
                    <p class="">
                        技術・学術系イベントhubの<a
                            href="https://discord.com/channels/1143765879377645628/1256140981158412369">開催日程調整</a>
                        チャンネルにご連絡をお願いいたします。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">5. 発表資料や動画を登録するには？</h3>
                    <p class="">
                        集会の詳細ページに発表資料や動画を掲載することができます。ログイン後、
                        <a href="{% url 'event:my_list' %}">イベント一覧</a>から発表資料や動画のURLを登録できます。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">6. Twitterで告知するには？</h3>
                    <p class="">
                        Twitterでの告知を効率化するために、告知テンプレートを登録できます。
                    </p>
                    <ol>
                        <li>集会管理の<a href="{% url 'twitter:template_list' %}">Twitterテンプレート一覧</a>からテンプレートを作成します。
                        <li>テンプレートを保存すると、<a href="{% url 'event:my_list' %}">イベント一覧</a>でそのテンプレートを使って告知ができます。
                        </li>
                    </ol>
                </div>
                <div class="mb-4">
                    <h3 class="">7. VRChatイベントカレンダーに投稿するには？</h3>
                    <p class="">
                        VRChatイベントカレンダーに簡単に投稿できます。
                    </p>
                    <ol>
                        <li><a href="{% url 'event:my_list' %}">イベント一覧</a>ページにアクセスします。</li>
                        <li>投稿したいイベントの「VRCイベントカレンダーに投稿」ボタンをクリックします。</li>
                        <li>自動的にGoogleフォームが開き、イベント情報が入力された状態になります。</li>
                        <li>必要に応じて情報を確認・修正し、フォームを送信します。</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}