{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>VRChat技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="VRChat技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="VRChat技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta name="twitter:description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta property="og:description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/VRChat_Hub.png">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/VRChat_Hub.png">
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1 class="text-center my-5 fw-bold keiko_yellow">VRChat技術・学術系イベントHubの使い方</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2 class="my-3 my-5 text-center text-primary fw-bold">
                        参加者向け</h2>
                    <div class="mb-4">
                        <h3 class="">1. 集会を探す</h3>
                        <p class="">VRChat技術・学術系イベントHubでは、VRChat内で開催される様々な技術・学術系の集会を見つけることができます。<a
                                href="https://vrc-ta-hub.com/community/list">集会一覧</a>ページから、キーワード検索やカテゴリー検索を利用して、あなたにぴったりの集会を探してみましょう。
                        </p>
                    </div>

                    <div class="mb-4">
                        <h3 class="">2. イベントを探す</h3>
                        <p class="">
                            <a href="https://vrc-ta-hub.com/event">イベント開催日程</a>ページでは、VRChat内で開催される講演会、ワークショップ、ハッカソンなど、様々なイベント情報を掲載しています。開催場所（ワールド）、日時、参加方法などの詳細情報も確認できますので、ぜひチェックしてみてください。
                        </p>
                    </div>

                    <div class="mb-4">
                        <h3 class="">3. 集会に参加するには？</h3>
                        <p class="">
                            集会に参加するには、各集会の詳細ページに記載されている参加方法に従ってください。多くの場合、VRChatのグループに参加するか、主催者にフレンド申請をすることで参加できます。
                        </p>
                    </div>
                    <div class="mb-4">
                        <h3 class="">4. イベントに参加するには？</h3>
                        <p class="">
                            イベントに参加するには、各イベントの詳細ページに記載されている参加方法に従ってください。多くの場合、VRChatのイベントインスタンスにJoinすることで参加できます。
                        </p>
                    </div>
                </div>
                <h2 class="my-3 my-5 text-center text-primary fw-bold">
                    主催者向け</h2>
                <div class="mb-4">
                    <h3 class="">1. 集会を登録するには？</h3>
                    <p class="">VRChat技術・学術系イベントHubで集会を告知するには、まず<a
                            href="https://vrc-ta-hub.com/account/register">アカウント登録</a>が必要です。登録後、マイページから集会情報を登録できます。集会の名称、開催日時、場所（ワールド）、内容などの情報を入力してください。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">2. 集会を公開するには？</h3>
                    <p class="">
                        登録した集会は、マイページの集会情報編集画面で公開設定を行うことで他のユーザーに表示されるようになります。集会の公開範囲や公開期間を設定し、集会を公開してください。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">3. 集会情報を更新するには？</h3>
                    <p class="">
                        集会情報はマイページからいつでも更新できます。
                    </p>
                </div>
                <div class="mb-4">
                    <h3 class="">4. イベント情報を登録するには？</h3>
                    <p class="">
                        集会にイベントを登録するには、集会詳細ページの「イベント登録」ボタンからイベント情報を登録できます。
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}