{% extends 'ta_hub/base.html' %}

{% block meta %}
    <title>技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="技術・学術系イベントHubの使い方 - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta name="twitter:description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta property="og:description"
          content="VRChat技術・学術系イベントHubの使い方ページです。VRChatで開催されている技術学術系イベントの探し方や、イベント主催者がイベント情報を登録・公開する方法について説明します。">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block main %}
    </style>
    <div class="container py-5">
        <h1 class="text-center mb-5 fw-bold"><span
                class="keiko_yellow">VRChat技術・学術系イベントHubの使い方</span></h1>

        <div class="row">
            <div class="col-lg-6 mb-5">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center text-primary mb-4">参加者向け</h2>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">1. 集会を探す</h3>
                            <p>VRChat技術・学術系イベントHubでは、様々な技術・学術系の集会を見つけることができます。
                                <a href="https://vrc-ta-hub.com/community/list" class="btn btn-outline-primary btn-sm">集会一覧</a>
                                ページから、キーワード検索やカテゴリー検索を利用して、あなたにぴったりの集会を探してみましょう。
                            </p>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">2. イベントを探す</h3>
                            <p>
                                <a href="https://vrc-ta-hub.com/event"
                                   class="btn btn-outline-primary btn-sm me-2">イベント開催日程</a>ページでは、様々なイベント情報を掲載しています。日時、参加方法などの詳細情報も確認できますので、ぜひチェックしてみてください。
                            </p>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">3. 集会に参加するには？</h3>
                            <p>
                                集会に参加するには、各集会の詳細ページに記載されている参加方法に従ってください。多くの場合、VRChatのグループに参加するか、主催者にフレンド申請をすることで参加できます。TwitterをフォローしたりDiscordに参加してみるのもおすすめです。
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title text-center text-primary mb-4">主催者向け</h2>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">1. 集会を登録するには？</h3>
                            <p>VRChat技術・学術系イベントHubで集会を告知するには、まず
                                <a href="https://vrc-ta-hub.com/account/register"
                                   class="btn btn-outline-primary btn-sm  ms-1 me-1">アカウント登録</a>
                                が必要です。登録後、マイページから集会情報を登録できます。
                            </p>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">2. 集会を公開するには？</h3>
                            <p>
                                登録した集会は、他の技術・学術系集会に承認してもらうことで公開されます。技術・学術系のフレンドに声をかけてみてください。
                            </p>
                            <p class="small text-muted">
                                ※ 承認済みの集会を運営している方は、設定の「承認待集会一覧」から、公開を希望する集会を選択し、「承認」してください。
                            </p>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">3. 集会情報を更新するには？</h3>
                            <p>
                                集会情報はログイン後、<a href="{% url 'account:settings' %}"
                                                        class="btn btn-outline-primary btn-sm  ms-1 me-1">設定</a>からいつでも更新できます。
                            </p>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">4. カレンダーに開催日程を登録するには？</h3>
                            <p>
                                技術・学術系イベントhubの<a
                                    href="https://discord.com/channels/1143765879377645628/1272910390942240798/1272910523683438612"
                                    class="btn btn-outline-primary btn-sm  ms-1 me-1">開催日程調整</a>
                                チャンネルにご連絡をお願いいたします。
                            </p>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">5. LTや発表を登録するには？</h3>
                            <p>
                                集会の詳細ページにLTや発表を登録できます。更に、資料や動画を掲載することができます。ログイン後、
                                <a href="{% url 'event:my_list' %}"
                                   class="btn btn-outline-primary btn-sm  ms-1 me-1">イベント一覧</a>から発表資料や動画のURLを登録できます。
                            </p>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">6. 動画や資料から記事を作成するには？</h3>
                            <p>
                                登録した動画や資料から自動的に記事を生成することができます。以下の手順で行います：
                            </p>
                            <ol>
                                <li><a href="{% url 'event:my_list' %}"
                                       class="btn btn-outline-primary btn-sm  ms-1 me-1">イベント一覧</a>ページにアクセスします。
                                </li>
                                <li>記事を作成したいイベントの詳細ページに移動します。</li>
                                <li>「記事を生成」ボタンをクリックします。</li>
                                <li>生成された記事を確認し、必要に応じて編集できます。</li>
                            </ol>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">7. Twitterで告知するには？</h3>
                            <p>
                                Twitterでの告知を効率化するために、告知テンプレートを登録できます。
                            </p>
                            <ol>
                                <li>集会管理の<a href="{% url 'twitter:template_list' %}"
                                                 class="btn btn-outline-primary btn-sm  ms-1 me-1">Twitterテンプレート一覧</a>からテンプレートを作成します。
                                </li>
                                <li>テンプレートを保存すると、<a href="{% url 'event:my_list' %}"
                                                                class="btn btn-outline-primary btn-sm  ms-1 me-1">イベント一覧</a>でそのテンプレートを使って告知ができます。
                                </li>
                            </ol>
                        </div>

                        <div class="mb-4">
                            <h3 class="h5 fw-bold">8. VRChatイベントカレンダーに投稿するには？</h3>
                            <p>
                                VRChatイベントカレンダーに簡単に投稿できます。
                            </p>
                            <ol>
                                <li><a href="{% url 'event:my_list' %}"
                                       class="btn btn-outline-primary btn-sm ms-1 me-1">イベント一覧</a>ページにアクセスします。
                                </li>
                                <li>投稿したいイベントの「VRCイベントカレンダーに投稿」ボタンをクリックします。</li>
                                <li>自動的にGoogleフォームが開き、イベント情報が入力された状態になります。</li>
                                <li>必要に応じて情報を確認・修正し、フォームを送信します。</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}