{% extends 'ta_hub/base.html' %}
{% block main %}
    {#    <div class="container mt-4">#}
    {#        <div class="row">#}
    {#            <div class="col-lg-12">#}
    {#                <div class="jumbotron">#}
    {#                    <h1>#}
    {#                        ようこそ#}
    {#                    </h1>#}
    {#                    <p class="lead">#}
    {#                        このサイトでは、VRChatで開催されている技術・学術系のイベント情報を提供しています。</p>#}
    {#                    <hr class="my-4">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}

    <!-- hero -->

    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">ようこそ！VRChat技術学術系コミュニティの世界へ！</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">VRChatで開催される多彩な技術学術系イベントをお届けします。</br>
                    入門者から経験豊富な方まで、みんなが楽しめるイベントが満載です！。</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button
                    </button>
                    <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
                </div>
            </div>
        </div>
    </div>
    <!-- hero end -->

    <hr class="featurette-divider">


    <!-- contents 1 -->
    <div class="container">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">VRChat技術学術系<span
                        class="text-body-secondary">コミュニティってなに？</span>
                </h2>
                <p class="lead">VRChat技術学術系コミュニティは、技術や学問に関心を持つ人々が集まり、</br>
                    最新の技術情報を共有しつつ、ワイワイおしゃべりを楽しむ場所です！</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>
    </div>

    <!-- contents 1 end -->

    <hr class="featurette-divider">

    <!-- contents 2 -->
    <div class="container">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">どんな<span
                        class="text-body-secondary">活動があるの？</span></h2>
                <p class="lead">講演とライトニングトーク</br>
                    業界のプロフェッショナルによる面白い講演やパネルディスカッション、短時間でたくさんの話題を楽しむライトニングトークが毎回大人気！</p>
                <p class="lead">ディスカッション</br>最新技術や研究についてみんなで楽しくディスカッション。</p>

            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>
    </div>

    <!-- contents 2 end -->

    <hr class="featurette-divider">

    <!-- 4 icons -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <h2 class="featurette-heading fw-normal lh-1">コミュニティの<span
                    class="text-body-secondary">特徴</span></h2>

            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <h2 class="fw-normal">誰でも参加しやすい！</h2>
                <p>学生や社会人など、いろんなバックグラウンドを持つ人たちが集まり、気軽に意見交換ができます。</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <h2 class="fw-normal">いつでもイベントがある！</h2>
                <p>土日や平日の夜も、毎日イベントが開催されているので、忙しい人でも参加しやすいです。</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <h2 class="fw-normal">自分にピッタリのイベントが見つかる！</h2>
                <p>いろんなイベントがあるので、きっと自分にピッタリのイベントが見つかるはず！</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div>


        <!-- 4 icons　end -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">主要な<span
                        class="text-body-secondary">グループや団体</span></h2>
                <p class="lead">技術学術系イベントを支える主要なグループや団体をご紹介します。
                </p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span
                        class="text-body-secondary">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
                    how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
                        class="text-body-secondary">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
                    really intended to be actually read, simply here to give you a better view of what this would
                    look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                    <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                </svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>


    <!-- 3 icons end -->

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2 class="">VRChat 技術・学術イベントガイド 本</h2>
                    <p class="lead">VRChatで開催されている技術・学術系のイベント情報をまとめた書籍です。</p>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2 class="">VRChat 技術・学術イベントガイド 本（デジタル版）</h2>
                    <p class="lead">Boothより
                        <a href="https://vrc-ta-hub.booth.pm/items/5307031">
                            無料でダウンロード</a>
                        いただけます。
                    </p>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h2 class="">技術・学術系イベント情報アセット</h2>
                    <p class="lead">VRChat技術学術系のイベントを一覧で表示できるアセットを無料配布中！ <br>


                    </p>
                    <p>
                        <a href="https://twitter.com/azukimochi25/status/1721888965924720929" target="_blank">
                            JPチュートリアルワードにも設置</a>されているアセットです。<br>
                        ぜひあなたのワールドにも設置してみてください。<a
                            href="https://azukimochi.github.io/vpm-repos-world/">
                        VCCから導入</a>できます。
                    </p>
                    <hr class="my-4">
                </div>
            </div>
        </div>

    </div>

{% endblock %}