{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">
                ようこそ！<br>
                VRChat技術学術系コミュニティの世界へ！</h1>
            <div class="col-lg-6 mx-auto text-white">
                <p class="fs-5 my-4">VRChatで開催される多彩な技術学術系イベントをお届けします</br>
                    入門者から経験豊富な方まで、みんなが楽しめるイベントが満載です！</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'event:list' %}" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">開催日を確認
                    </a>
                    <a href="{% url 'community:list' %}"
                       class="btn btn-outline-light btn-lg px-4">イベントを探す</a>
                </div>
            </div>
        </div>
    </div>
    <!-- hero end -->

    <hr class="featurette-divider my-5">


    <!-- contents 1 -->
    <div class="container">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">VRChat技術学術系<span
                        class="text-body-secondary">コミュニティってなに？</span>
                </h2>
                <p class="lead">VRChat技術学術系コミュニティは、技術や学問に関心を持つ人々が集まり、</br>
                    最新の技術情報を共有しつつ、ワイワイおしゃべりを楽しむ場所です！</p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" src="https://pbs.twimg.com/media/GOY0J_BacAA4jEx?format=jpg&name=4096x4096"
                     alt="Placeholder: 500x500">

            </div>
        </div>

        <!-- contents 1 end -->

        <hr class="featurette-divider my-5">

        <!-- contents 2 -->

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">どんな<span
                        class="text-body-secondary">活動があるの？</span></h2>
                <p class="lead">講演とライトニングトーク</br>
                    業界のプロフェッショナルによる面白い講演やパネルディスカッション、短時間でたくさんの話題を楽しむライトニングトークが毎回大人気！</p>
                <p class="lead">ディスカッション</br>最新技術や研究についてみんなで楽しくディスカッション。</p>

            </div>
            <div class="col-md-5 order-md-1">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" src="https://pbs.twimg.com/media/GOY0J_BacAA4jEx?format=jpg&name=4096x4096"
                     alt="Placeholder: 500x500">

            </div>
        </div>
    </div>

    <!-- contents 2 end -->

    <hr class="featurette-divider my-5">

    <!-- 4 icons -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <h2 class="featurette-heading fw-normal lh-1 mb-5 text-center">コミュニティの<span
                    class="text-body-secondary">特徴</span></h2>

            <div class="col-lg-4">
                <img src="https://pbs.twimg.com/media/GK7jdDhaIAAEkzR?format=jpg&name=large" alt="アイコン画像"
                     class="rounded-circle" width="140" height="140"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <h2 class="fw-normal my-3">誰でも参加しやすい！</h2>
                <p>学生や社会人など、いろんなバックグラウンドを持つ人たちが集まり、気軽に意見交換ができます。</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://pbs.twimg.com/media/F9c5BlxbkAADmzV?format=jpg&name=large" alt="アイコン画像"
                     class="rounded-circle" width="140" height="140"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <h2 class="fw-normal my-3">毎日イベントを開催！</h2>
                <p>土日や平日の夜も、毎日イベントが開催されているので、忙しい人でも参加しやすいです。</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="https://pbs.twimg.com/media/GIrLuNiasAATuWg?format=jpg&name=large" alt="アイコン画像"
                     class="rounded-circle" width="140" height="140"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                </svg>
                <h2 class="fw-normal my-3">自分にピッタリのイベントが見つかる！</h2>
                <p>いろんなイベントがあるので、きっと自分にピッタリのイベントが見つかるはず！</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div>


        <!-- 4 icons　end -->

        <!-- グループ紹介 -->

        <hr class="featurette-divider my-5">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">主要な<span
                        class="text-body-secondary">グループや団体</span></h2>
                <p class="lead">技術学術系イベントを支える主要なグループや団体をご紹介します。
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" src="https://pbs.twimg.com/media/GOY0J_BacAA4jEx?format=jpg&name=4096x4096"
                     alt="Placeholder: 500x500">

            </div>
        </div>


        <!-- グループ紹介 end -->


        <hr class="featurette-divider my-5">

        <!-- メリット -->

        <div class="inner-container-small text-center">
            <span class="bg-light heading-color small rounded-3 px-3 py-2">🚀今話題のVRCの技術・学術系集会</span>
            <h2 class="mb-0 mt-4">VRChat技術学術コミュニティの魅力

            </h2>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gy-5 gy-md-7 mt-3">
            <!-- Service item -->
            <div class="col">
                <div class="card bg-light h-100">
                    <div class="card-body pb-0">
                        <!-- Icon -->
                        <div class="icon-lg bg-white text-primary rounded-circle mb-4 mt-n5">
                            <i class="bi bi-stack fa-fw fs-5"></i>
                        </div>
                        <!-- Content -->
                        <h5 class="mb-3">新しい仲間と出会える！</h5>
                        <p>共通の興味を持つ人たちと知り合い、交流が深まる楽しい時間を過ごせます。</p>
                    </div>

                </div>
            </div>

            <!-- Service item -->
            <div class="col">
                <div class="card bg-light h-100">
                    <div class="card-body pb-0">
                        <!-- Icon -->
                        <div class="icon-lg bg-white text-primary rounded-circle mb-4 mt-n5">
                            <i class="bi bi-boxes fa-fw fs-5"></i>
                        </div>
                        <!-- Content -->
                        <h5 class="mb-3">毎日が新しい発見！</h5>
                        <p>いつでも最新の技術や知識に触れられるので、学びが止まりません。</p>
                    </div>

                </div>
            </div>

            <!-- Service item -->
            <div class="col">
                <div class="card bg-light h-100">
                    <div class="card-body pb-0">
                        <!-- Icon -->
                        <div class="icon-lg bg-white text-primary rounded-circle mb-4 mt-n5">
                            <i class="bi bi-circle-square fa-fw fs-5"></i>
                        </div>
                        <!-- Content -->
                        <h5 class="mb-3">リアルでは得られない経験！</h5>
                        <p>都会や田舎、どこに住んでいても参加でき、物理的な制約を超えた交流が楽しめます。</p>
                    </div>
                </div>
            </div>

            <!-- Service item -->
            <div class="col">
                <div class="card bg-light h-100">
                    <div class="card-body pb-0">
                        <!-- Icon -->
                        <div class="icon-lg bg-white text-primary rounded-circle mb-4 mt-n5">
                            <i class="bi bi-vector-pen fa-fw fs-5"></i>
                        </div>
                        <!-- Content -->
                        <h5 class="mb-3">ライトニングトークで大興奮！</h5>
                        <p>短時間でたくさんの話題を聞けるライトニングトークが毎回の楽しみ。</p>
                    </div>
                </div>
            </div>

            <!-- Service item -->
            <div class="col">
                <div class="card bg-light h-100">
                    <div class="card-body pb-0">
                        <!-- Icon -->
                        <div class="icon-lg bg-white text-primary rounded-circle mb-4 mt-n5">
                            <i class="bi bi-briefcase fa-fw fs-5"></i>
                        </div>
                        <!-- Content -->
                        <h5 class="mb-3">忙しくても参加OK！</h5>
                        <p>平日夜や週末にイベントがあるので、スケジュールに合わせて参加できます。</p>
                    </div>
                </div>
            </div>
        </div>


        <!-- メリット end -->

        <hr class="featurette-divider my-5">


        <!-- 雰囲気 -->


        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">コミュニティの<span
                        class="text-body-secondary">雰囲気</span></h2>
                <p class="lead">コミュニティ内での楽しい交流の様子や雰囲気を紹介。</br>フレンドリーでサポートiveな環境です。
                </p>
            </div>
            <div class="col-md-5">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                     height="500" src="https://pbs.twimg.com/media/GOY0J_BacAA4jEx?format=jpg&name=4096x4096"
                     alt="Placeholder: 500x500">

            </div>
        </div>

        <hr class="featurette-divider">

        <!-- 雰囲気 end -->


        <!-- 参加者の声 -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <h2 class="featurette-heading fw-normal lh-1">参加者の<span
                        class="text-body-secondary">声</span></h2>

                <div class="col-lg-4">
                    <img src="https://pbs.twimg.com/media/GK7jdDhaIAAEkzR?format=jpg&name=large" alt="アイコン画像"
                         class="rounded-circle" width="140" height="140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                    </svg>
                    <h2 class="fw-normal">Aさん</h2>
                    <p>
                        VRChatでのイベントに参加して、新しい技術の視点が広がりました。仲間もたくさんできて嬉しいです！</p>
                    <p><a class="btn btn-secondary" href="#">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="https://pbs.twimg.com/media/GK7jdDhaIAAEkzR?format=jpg&name=large" alt="アイコン画像"
                         class="rounded-circle" width="140" height="140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                    </svg>
                    <h2 class="fw-normal">Bさん</h2>
                    <p>平日夜でも参加できるので、忙しくても最先端の技術に触れられます。</p>
                    <p><a class="btn btn-secondary" href="#">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img src="https://pbs.twimg.com/media/GK7jdDhaIAAEkzR?format=jpg&name=large" alt="アイコン画像"
                         class="rounded-circle" width="140" height="140"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                    </svg>
                    <h2 class="fw-normal">Cさん</h2>
                    <p>都会や田舎、どこにいても参加できるのが最高です！</p>
                    <p><a class="btn btn-secondary" href="#">View details »</a></p>
                </div><!-- /.col-lg-4 -->
            </div>


            <!-- 参加者の声　end -->


            <!-- 参加方法 -->

            <div class="container px-4 py-5" id="featured-3">
                <h2 class="pb-2 border-bottom">参加方法</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <div class="feature col">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#collection"></use>
                            </svg>
                        </div>
                        <h3 class="fs-2 text-body-emphasis">興味のある集会を見つける</h3>
                        <p>あなたはどんな分野に興味がありますか？いろいろ種類の中から、興味のある集会を選んでね。</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                        </div>
                        <h3 class="fs-2 text-body-emphasis">
                            VRChatグループ、Discordに参加したり、主催者にフレンド申請をする</h3>
                        <p>
                            「いきなりフレンチ申請しても大丈夫かな？」と心配しなくても大丈夫！主催者はあなたが参加してくれるのを楽しみにしています。</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="feature col">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <svg class="bi" width="1em" height="1em">
                                <use xlink:href="#toggles2"></use>
                            </svg>
                        </div>
                        <h3 class="fs-2 text-body-emphasis">イベント当日、グループや主催にJOINする</h3>
                        <p>
                            あとは当日、その時間にJOINするだけ！初めて参加するときは緊張するかもしれないけど、みんな優しく迎えてくれるので安心してね。</p>
                        <a href="#" class="icon-link">
                            Call to action
                            <svg class="bi">
                                <use xlink:href="#chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 参加方法　end -->

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span
                            class="text-body-secondary">See for yourself.</span></h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea
                        of
                        how this layout would work with some actual real-world content in place.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                         width="500" height="500"
                         src="https://pbs.twimg.com/media/GOY0J_BacAA4jEx?format=jpg&name=4096x4096"
                         alt="Placeholder: 500x500">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
                            class="text-body-secondary">Checkmate.</span></h2>
                    <p class="lead">And yes, this is the last block of representative placeholder content. Again,
                        not
                        really intended to be actually read, simply here to give you a better view of what this
                        would
                        look like with some actual content. Your content.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                         width="500"
                         height="500" xmlns="http://www.w3.org/2000/svg" role="img"
                         aria-label="Placeholder: 500x500"
                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
                        <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
                    </svg>
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div>


        <!-- 3 icons end -->

        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2 class="">VRChat 技術・学術イベントガイド 本</h2>
                        <p class="lead">VRChatで開催されている技術・学術系のイベント情報をまとめた書籍です。</p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2 class="">VRChat 技術・学術イベントガイド 本（デジタル版）</h2>
                        <p class="lead">Boothより
                            <a href="https://vrc-ta-hub.booth.pm/items/5307031">
                                無料でダウンロード</a>
                            いただけます。
                        </p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2 class="">技術・学術系イベント情報アセット</h2>
                        <p class="lead">VRChat技術学術系のイベントを一覧で表示できるアセットを無料配布中！ <br>


                        </p>
                        <p>
                            <a href="https://twitter.com/azukimochi25/status/1721888965924720929" target="_blank">
                                JPチュートリアルワードにも設置</a>されているアセットです。<br>
                            ぜひあなたのワールドにも設置してみてください。<a
                                href="https://azukimochi.github.io/vpm-repos-world/">
                            VCCから導入</a>できます。
                        </p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>

        </div>

        <!-- 3 icons end -->

        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2 class="">VRChat 技術・学術イベントガイド 本</h2>
                        <p class="lead">VRChatで開催されている技術・学術系のイベント情報をまとめた書籍です。</p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2 class="">VRChat 技術・学術イベントガイド 本（デジタル版）</h2>
                        <p class="lead">Boothより
                            <a href="https://vrc-ta-hub.booth.pm/items/5307031">
                                無料でダウンロード</a>
                            いただけます。
                        </p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h2 class="">技術・学術系イベント情報アセット</h2>
                        <p class="lead">VRChat技術学術系のイベントを一覧で表示できるアセットを無料配布中！ <br>


                        </p>
                        <p>
                            <a href="https://twitter.com/azukimochi25/status/1721888965924720929" target="_blank">
                                JPチュートリアルワードにも設置</a>されているアセットです。<br>
                            ぜひあなたのワールドにも設置してみてください。<a
                                href="https://azukimochi.github.io/vpm-repos-world/">
                            VCCから導入</a>できます。
                        </p>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}