{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>プライバシーポリシー - VRC 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="プライバシーポリシー - VRC 技術・学術系イベントHub">
    <meta property="og:title" content="プライバシーポリシー - VRC 技術・学術系イベントHub">
    <meta name="description"
          content="VRC 技術・学術系イベントHubのプライバシーポリシーです。">
    <meta name="twitter:description"
          content="VRC 技術・学術系イベントHubのプライバシーポリシーです。">
    <meta property="og:description"
          content="VRC 技術・学術系イベントHubのプライバシーポリシーです。">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/VRChat_Hub.png">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/VRChat_Hub.png">
{% endblock %}
{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1 class="text-center my-5 fw-bold keiko_yellow">
                        VRC 技術・学術イベントHub プライバシーポリシー
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p><strong>VRC 技術学術ハブ</strong>（以下、「当サイト」といいます。）は、ユーザーのプライバシーを尊重し、ユーザーの個人情報の保護に努めています。当サイトは、ユーザーから収集した個人情報を、以下のプライバシーポリシーに基づき、適切に取り扱います。
                </p>

                <h2 class="h3">1. 個人情報の定義</h2>
                <p>個人情報とは、ユーザー名、メールアドレスなど、特定の個人を識別できる情報をいいます。</p>

                <h2 class="h3">2. 個人情報の収集</h2>
                <p>当サイトでは、以下のような場合に、ユーザーの個人情報を収集することがあります。</p>
                <ul>
                    <li>ユーザー登録</li>
                    <li>イベント詳細情報登録</li>
                    <li>その他、当サイトのサービス利用時</li>
                </ul>

                <h2 class="h3">3. 個人情報の利用目的</h2>
                <p>当サイトでは、収集した個人情報を、以下の目的で利用することがあります。</p>
                <ul>
                    <li>ユーザーへのサービス提供</li>
                    <li>イベント情報の提供</li>
                    <li>当サイトの運営・改善</li>
                    <li>その他、上記に関連する目的</li>
                </ul>

                <h2 class="h3">4. 個人情報の第三者提供</h2>
                <p>当サイトでは、以下の場合を除き、ユーザーの個人情報を第三者に提供することはありません。</p>
                <ul>
                    <li>ユーザーの同意がある場合</li>
                    <li>法令に基づき開示が求められた場合</li>
                    <li>人の生命、身体または財産の保護のために必要があり、ユーザーの同意を得ることが困難である場合</li>
                </ul>

                <h2 class="h3">5. 個人情報の管理</h2>
                <p>
                    当サイトは、ユーザーの個人情報を適切に管理し、不正アクセス、紛失、改ざん、漏洩などを防止するため、必要かつ適切なセキュリティ対策を講じます。</p>

                <h2 class="h3">6. 個人情報の開示・訂正・削除</h2>
                <p>
                    ユーザーは、自身の個人情報について、開示、訂正、削除を要求することができます。要求の手続きについては、Discord
                    技術学術系hubまでご連絡ください。</p>

                <h2 class="h3">7. プライバシーポリシーの変更</h2>
                <p>
                    当サイトは、プライバシーポリシーの内容を、必要に応じて変更することがあります。変更後のプライバシーポリシーは、当サイト上に掲載した時点から適用されます。</p>

                <p><strong>制定日:</strong> 2024年6月19日</p>
            </div>
        </div>

        <div class="row justify-content-md-center mb-5">
            <div class="col mb-4 text-center">
                <h2 class="h1 mb-3">Cookieの取り扱いに関する説明</h2>
                <h1 class="h6 text-secondary">当ウェブサイトでは、以下のようなCookieを使用しています。</h1>
            </div>
            <div class="row border p-5 rounded shadow">
                <div id="start-recording" class="col text-center">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Cookieの種類</th>
                            <th>目的</th>
                            <th>有効期限</th>
                            <th>第三者との共有</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>SITE_URL</td>
                            <td>ユーザーが動画に変換したサイトと作成された動画のURLを記録するため</td>
                            <td>14日</td>
                            <td>しない</td>
                        </tr>
                        <tr>
                            <td>_ga, _gid, _gat</td>
                            <td>ユーザーのアクセス解析</td>
                            <td>365日</td>
                            <td>Googleに共有されます</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>Cookieに収集された情報は、当ウェブサイトのアクセス解析のために使用されます。</p>
                    <p>
                        Cookieの管理方法については、ブラウザの設定を変更することで行うことができます。ただし、Cookieを無効にすると、当ウェブサイトの一部の機能が正しく動作しなくなる場合があります。</p>
                    <p>当ウェブサイトでは、Google Analyticsを使用してアクセス解析を行っています。Google
                        Analyticsは、Cookieを使用してユーザーの情報を収集します。この情報は、Google社によって管理されます。詳細については、<a
                                href="https://policies.google.com/privacy">Googleのプライバシーポリシー</a>をご確認ください。
                    </p>
                    <p>当ウェブサイトは、個人情報を収集することはありません。</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}