<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>【VRC技術学術系Hub】パスワードリセットのご案内</title>
</head>
<body>
    <h2>パスワードリセットのご案内</h2>

    <p>{{ user.user_name }} 様</p>

    <p>VRC技術学術系Hubのパスワードリセットをリクエストされました。</p>

    <p>以下のリンクから、新しいパスワードの設定を行ってください：</p>

    <p>
        <a href="{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}">
            {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
        </a>
    </p>

    <p><strong>重要な注意事項:</strong></p>
    <ul>
        <li>このリンクの有効期限は24時間です</li>
        <li>リンクは1回のみ使用できます</li>
        <li>心当たりがない場合は、このメールを無視してください</li>
    </ul>

    <hr>
    <p>
        このメールは自動送信されています。<br>
        VRC技術学術系Hub<br>
        <a href="https://vrc-ta-hub.com">https://vrc-ta-hub.com</a>
    </p>
</body>
</html>
