{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>ログイン - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="ログイン - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="ログイン - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="技術・学術系イベントHubのログインページです。集会の情報を編集したり、ライトニングトークの発表資料やYoutube動画を登録できます。また、Youtubeから記事を作成できます。">
    <meta name="twitter:description"
          content="技術・学術系イベントHubのログインページです。集会の情報を編集したり、ライトニングトークの発表資料やYoutube動画を登録できます。また、Youtubeから記事を作成できます。">
    <meta property="og:description"
          content="技術・学術系イベントHubのログインページです。集会の情報を編集したり、ライトニングトークの発表資料やYoutube動画を登録できます。また、Youtubeから記事を作成できます。">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
{% endblock %}

{% block main %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">ログイン</h4>
                    </div>
                    <div class="card-body">
                        {% include 'ta_hub/messages.html' %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">ログイン</button>
                        </form>
                        <div class="mt-3">
                            <a href="{% url 'account:password_reset' %}">パスワードを忘れた場合</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}