{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>パスワードリセット完了 - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="パスワードリセット完了 - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="パスワードリセット完了 - VRChat 技術・学術系イベントHub">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
{% endblock %}

{% block main %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h4 class="mb-0">パスワードリセット完了</h4>
                    </div>
                    <div class="card-body">
                        {% include 'ta_hub/messages.html' %}
                        <div class="alert alert-success">
                            <h5>パスワードの変更が完了しました</h5>
                            <p class="mb-0">新しいパスワードでログインできます。</p>
                        </div>
                        <a href="{% url 'account:login' %}" class="btn btn-primary">ログインページへ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
