{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>パスワードリセットメール送信完了 - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="パスワードリセットメール送信完了 - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="パスワードリセットメール送信完了 - VRChat 技術・学術系イベントHub">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/negipan-night-1600.jpeg">
{% endblock %}

{% block main %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        <h4 class="mb-0">メール送信完了</h4>
                    </div>
                    <div class="card-body">
                        {% include 'ta_hub/messages.html' %}
                        <p>パスワードリセット用のメールを送信しました。</p>
                        <p>メールに記載されているリンクから、パスワードの再設定を行ってください。</p>
                        <div class="alert alert-info">
                            <strong>注意:</strong>
                            <ul class="mb-0">
                                <li>リンクの有効期限は24時間です</li>
                                <li>メールが届かない場合は、迷惑メールフォルダをご確認ください</li>
                                <li>入力されたメールアドレスがデータベースに存在しない場合、メールは送信されません</li>
                            </ul>
                        </div>
                        <a href="{% url 'account:login' %}" class="btn btn-primary">ログインに戻る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
