{% extends 'ta_hub/base.html' %}

{% block main %}
    <style>
        label {
            margin-bottom: 0.5rem;
        }

        span.helptext {
            color: gray;
        }
    </style>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">新規登録</h4>
                    </div>

                    <div class="card-body">
                        <div>
                            <h5 class="">技術系集会</h5>
                            <p>
                                エンジニアやクリエイターの技術や知識の交流をする集会
                            </p>
                            <h5 class="">学術系集会</h5>
                            <p>
                                一定の理論や方法論に基づいて得られた知識や洞察を共有し、議論を通じて理解を深めるための学術的な集会
                            </p>
                            <p>
                                ※ 登録にはどちらかに該当している必要があります。
                            </p>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">登録</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}