{% extends 'ta_hub/base.html' %}

{% block main %}
    <div class="container my-5">
        <h1 class="text-center mb-5 fw-bold">
            <i class="bi bi-twitter text-primary me-2"></i>
            {% if form.instance.pk %}Twitter告知テンプレートを編集{% else %}新規Twitter告知テンプレート{% endif %}
        </h1>

        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mb-3">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted mt-2 d-block">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div>
                                ※ テンプレートは変数を使わなくても過去のイベント告知を貼り付けるだけでパターンを認識します
                            </div>
                            <div class="d-grid gap-2 mt-4">
                                <button type="submit" class="btn btn-primary rounded-5">
                                    <i class="bi bi-save me-2"></i>保存
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>

        .form-text {
            margin-top: 0.5rem !important;
        }
    </style>
{% endblock %}