{% extends 'ta_hub/base.html' %}
{% load custom_filters %}

{% block meta %}
    <title>{{ community.name }} - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="{{ community.name }} - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="{{ community.name }} - VRChat 技術・学術系イベントHub">
    <meta name="description" content="{{ community.description|truncatechars:170 }}">
    <meta name="twitter:description" content="{{ community.description|truncatechars:170 }}">
    <meta property="og:description" content="{{ community.description|truncatechars:170 }}">
    {% if community.poster_image %}
        <meta property="og:image" content="{{ community.poster_image.url }}">
        <meta name="twitter:image" content="{{ community.poster_image.url }}">
    {% else %}
        <meta property="og:image" content="https://data.vrc-ta-hub.com/images/twitter-negipan-1600.jpeg">
        <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/twitter-negipan-1600.jpeg">
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container mt-4">


        <div class="card bg-light-subtle my-5 shadow">

            <div class="row no-gutters">

                <div class="col-md-5 order-md-1 order-2 p-3">
                    {% if community.poster_image %}
                        <img src="{{ community.poster_image.url }}" alt="{{ community.name }}"
                             class="img-fluid w-100 img-thumbnail">
                    {% else %}
                        <img src="https://vrc-ta-hub.com/poster/no-image.png" alt="{{ community.name }}"
                             class="img-fluid img-thumbnail" style="max-width: 350px;">
                    {% endif %}
                </div>
                <div class="col-md-7 order-md-2 order-1 ">
                    <div class="card-body">
                        <h1 class="fs-2 fw-bold text-center">{{ community.name }}</h1>
                        <h2 class="fs-4 fw-bold my-3">
                            イベント紹介
                        </h2>
                        <p>{{ community.description|linebreaks }}</p>
                        <h2 class="fs-4 fw-bold my-3">
                            イベント開催情報
                        </h2>
                        <p>開催曜日:
                            {% for weekday in community.weekdays %}
                                {{ weekday_choices|get_item:weekday }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                        <p>開催時間: {{ community.start_time|date:"H:i" }}
                            - {{ community.end_time|date:"H:i" }} <small class="text-muted">（日本時間）</small></p>
                        <p>開催周期: {{ community.frequency }}</p>
                        <h2 class="fs-4 fw-bold my-3">
                            参加方法</h2>
                        <p>
                            主催・副主催:
                            {% if community.organizer_url %}
                                <a href="{{ community.organizer_url }}"
                                   target="_blank">{{ community.organizers }}</a>
                            {% else %}
                                {#  プロフィールのURLが無ければアカウント名で検索 #}
                                <a href="https://vrchat.com/home/search/{{ community.organizers }}"
                                   target="_blank">{{ community.organizers }}</a>
                            {% endif %}
                        </p>
                        <p>
                            {% if community.group_url %}
                                VRChatグループ:
                                <a href="{{ community.group_url }}"
                                   target="_blank">{{ community.group_url|slice:"18:" }}</a>
                            {% endif %}
                            {% if community.join_type == 'world' %}
                                <a href="{{ community.how_to_join }}"
                                   target="_blank">{{ community.how_to_join }}</a>
                            {% else %}
                                {{ community.how_to_join }}
                            {% endif %}
                        </p>

                        <p class="d-flex gap-3">
                            {% if community.discord %}
                                <a href="{{ community.discord }}" target="_blank" class="text-decoration-none">
                                    <i class="fab fa-discord fa-2x" style="color: #5865F2;"></i>
                                </a>
                            {% endif %}

                            {% if community.sns_url %}
                                <a href="{{ community.sns_url }}" target="_blank" class="text-decoration-none">
                                    <i class="fab fa-twitter fa-2x" style="color: #1DA1F2;"></i>
                                </a>
                            {% endif %}
                        </p>

                        {% if community.twitter_hashtags %}
                            <p>
                                {% for hashtag in community.twitter_hashtags %}
                                    <a href="https://twitter.com/hashtag/{{ hashtag|slice:"1:" }}?f=live"
                                       class="badge rounded-pill text-bg-light text-decoration-none border fs-6"
                                       target="_blank">
                                        <i class="fas fa-hashtag"></i>
                                        {{ hashtag|slice:"1:" }}
                                    </a>{% if not forloop.last %} {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}

                        {% if show_accept_button %}
                            <div class="d-flex gap-2">
                                <form action="{% url 'community:accept' community.pk %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success">承認</button>
                                </form>
                                <form action="{% url 'community:reject' community.pk %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">非承認</button>
                                </form>
                            </div>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <a href="/admin/community/community/{{ community.pk }}/change/"
                               class="btn btn-primary">編集(管理者)</a>
                        {% endif %}
                        {% if request.user == community.custom_user %}
                            <a href="{% url 'community:update' community.pk %}"
                               class="btn btn-primary">編集</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>


        <div class="card my-5 shadow">
            <div class="card-body">
                <h2 class="fs-3 fw-bold my-5 text-center">
                    {{ community.name }}の開催日程
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" style="min-width: 142px">日付</th>
                            <th scope="col" style="min-width: 115px">時間</th>
                            <th scope="col" style="min-width: 140px">発表者</th>
                            <th scope="col">テーマ</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for event_dict in scheduled_events %}
                            <tr{% if event_dict.event.date|date:"Y-m-d" == today %} class="table-danger"{% endif %}>
                                <td>{{ event_dict.event.date|date:"Y年m月d日 (D)" }}</td>
                                <td>
                                    {{ event_dict.event.start_time|date:"H:i" }} -
                                    {{ event_dict.event.end_time|date:"H:i" }}
                                </td>
                                <td>
                                    {% for detail in event_dict.details %}
                                        <div class="mb-1">
                                            {{ detail.speaker }}
                                        </div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for detail in event_dict.details %}
                                        <div class="mb-1">
                                            <a href="{% url 'event:detail' detail.pk %}">{{ detail.theme }}</a>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card my-5 shadow">
            <div class="card-body">
                <h2 class="fs-3 fw-bold my-5 text-center">
                    {{ community.name }}の発表履歴
                </h2>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" style="min-width: 142px">日付</th>
                            <th scope="col" style="min-width: 115px">時間</th>
                            <th scope="col" style="min-width: 140px">発表者</th>
                            <th scope="col">テーマ</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for event_dict in past_events %}
                            <tr {% if event_dict.event.date|date:"Y-m-d" == today %} class="table-danger"{% endif %}>
                                <td>{{ event_dict.event.date|date:"Y年m月d日" }}</td>
                                <td>
                                    {{ event_dict.event.start_time|date:"H:i" }} -
                                    {{ event_dict.event.end_time|date:"H:i" }}
                                </td>
                                <td>
                                    {% for detail in event_dict.details %}
                                        <div class="mb-1">
                                            {{ detail.speaker }}
                                        </div>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for detail in event_dict.details %}
                                        <div class="mb-1">
                                            <a href="{% url 'event:detail' detail.pk %}">{{ detail.theme }}</a>
                                        </div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-end">
                        <a href="{% url 'event:detail_history' %}?&community_name={{ community.name }}"
                           class=" btn btn-primary">
                            もっと見る</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Superuserの場合はコミュニティーのユーザーの連絡先を表示 -->
    {% if request.user.is_superuser %}
        <div class="card my-5 shadow">
            <div class="card-body">
                <h2 class="fs-3 fw-bold my-5 text-center">
                    集会主催者の連絡先
                </h2>
                <p>
                    {{ community.custom_user.email }}
                </p>
                <p>
                    {{ community.custom_user.discord_id }}
                </p>
            </div>
        </div>
    {% endif %}


{% endblock %}
