{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="container mt-4">

        <div class="row py-3d-flex justify-content-center text-center">
            <h1>{{ community.name }}</h1>
            <div class="col-lg-4 order-lg-1 order-2">
                {% if community.poster_image %}
                    <img src="{{ community.poster_image.url }}" alt="{{ community.name }}"
                         class="img-fluid mb-4 img-thumbnail">
                {% endif %}
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-8 order-lg-2 order-1">
                <h2 class="my-4">
                    イベント紹介
                </h2>
                <p>{{ community.description|linebreaks }}</p>
                <h2 class="my-4">
                    イベント開催情報
                </h2>
                <p><strong>開催曜日:</strong> {{ community.get_weekday_display }}</p>
                <p><strong>開催時間:</strong> {{ community.start_time|date:"H:i" }}
                    - {{ community.end_time|date:"H:i" }}</p>
                <p><strong>開催周期:</strong> {{ community.frequency }}</p>
                <p><strong>主催・副主催:</strong>
                    <a href="https://vrchat.com/home/search/{{ community.organizers }}"
                       target="_blank">{{ community.organizers }}</a>
                </p>
                <div class="mt-4">
                    <p>
                        <strong>参加方法</strong>
                        {% if community.group_url %}
                            <strong>VRChatグループ:</strong>
                            <a href="{{ community.group_url }}"
                               target="_blank">{{ community.group_url|slice:"18:" }}</a>
                        {% endif %}
                        {% if community.join_type == 'user_page' %}
                            <a href="{{ community.how_to_join }}"
                               target="_blank">{{ community.organizer_url }}</a>
                        {% elif community.join_type == 'user_name' %}
                            <a href="https://vrchat.com/home/search/{{ community.organizers }}"
                               target="_blank">{{ community.organizers }}</a>
                        {% elif community.join_type == 'world' %}
                            <a href="{{ community.organizer_url }}"
                               target="_blank">ワールド</a>
                        {% else %}
                            {{ community.how_to_join }}
                        {% endif %}
                    </p>

                    {% if community.discord %}
                        <p><strong>Discord:</strong> <a href="{{ community.discord }}"
                                                        target="_blank">{{ community.discord }}</a></p>
                    {% endif %}

                    {% if community.twitter %}
                        <p><strong>Twitter:</strong> <a href="{{ community.twitter }}"
                                                        target="_blank">{{ community.twitter }}</a></p>
                    {% endif %}

                    {% if community.twitter_hashtags %}
                        <p>
                            <strong>Twitterハッシュタグ:</strong>
                            {% for hashtag in community.twitter_hashtags %}
                                <a href="https://twitter.com/hashtag/{{ hashtag|slice:"1:" }}?f=live"
                                   target="_blank">{{ hashtag }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>

                <h2 class="my-4">{{ community.name }}の開催日程</h2>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">日付</th>
                            <th scope="col">時間</th>
                            <th scope="col">発表者</th>
                            <th scope="col">テーマ</th>
                            <th scope="col">詳細</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in scheduled_events %}
                            <tr{% if event.date|date:"Y-m-d" == today %} class="table-danger"{% endif %}>
                                <td>{{ event.date|date:"Y年m月d日" }}</td>
                                <td>{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</td>
                                <td>{{ event.speakers }}</td>
                                <td>{{ event.theme }}</td>
                                <td><a href="{% url 'event:detail' event.id %}"
                                       class="btn btn-primary btn-sm">詳細</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h2 class="my-4">{{ community.name }}の活動記録</h2>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">日付</th>
                            <th scope="col">時間</th>
                            <th scope="col">発表者</th>
                            <th scope="col">テーマ</th>
                            <th scope="col">詳細</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in past_events %}
                            <tr{% if event.date|date:"Y-m-d" == today %} class="table-danger"{% endif %}>
                                <td>{{ event.date|date:"Y年m月d日" }}</td>
                                <td>{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</td>
                                <td>
                                    {% for detail in event.details.all %}
                                        {{ detail.speaker }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for detail in event.details.all %}
                                        {{ detail.theme }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td><a href="{% url 'event:detail' event.id %}"
                                       class="btn btn-primary btn-sm">詳細</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}