{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="container mt-4">
        <div class="card bg-light-subtle my-5 shadow">
            <div class="row no-gutters">
                <div class="col-md-5 p-3">
                    {% if community.poster_image %}
                        <img src="{{ community.poster_image.url }}" alt="{{ community.name }}"
                             class="img-fluid w-100 img-thumbnail">
                    {% else %}
                        <img src="https://vrc-ta-hub.com/poster/no-image.png" alt="{{ community.name }}"
                             class="img-fluid img-thumbnail" style="max-width: 350px;">
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h1 class="fs-2 fw-bold text-center">{{ community.name }}</h1>
                        <h2 class="fs-3 my-4">
                            イベント紹介
                        </h2>
                        <p>{{ community.description|linebreaks }}</p>
                        <h2 class="fs-3 my-4">
                            イベント開催情報
                        </h2>
                        <p><strong>開催曜日:</strong> {{ community.get_weekday_display }}</p>
                        <p><strong>開催時間:</strong> {{ community.start_time|date:"H:i" }}
                            - {{ community.end_time|date:"H:i" }}</p>
                        <p><strong>開催周期:</strong> {{ community.frequency }}</p>
                        <h3 class="fs-3 my-4">参加方法</h3>
                        <p>
                            <strong>主催・副主催:</strong>
                            {% if community.organizer_url %}
                                <a href="{{ community.organizer_url }}"
                                   target="_blank">{{ community.organizers }}</a>
                            {% else %}
                                {#  プロフィールのURLが無ければアカウント名で検索 #}
                                <a href="https://vrchat.com/home/search/{{ community.organizers }}"
                                   target="_blank">{{ community.organizers }}</a>
                            {% endif %}
                        </p>
                        <p>
                            {% if community.group_url %}
                                <strong>VRChatグループ:</strong>
                                <a href="{{ community.group_url }}"
                                   target="_blank">{{ community.group_url|slice:"18:" }}</a>
                            {% endif %}
                            {% if community.join_type == 'world' %}
                                <a href="{{ community.how_to_join }}"
                                   target="_blank">{{ community.how_to_join }}</a>
                            {% else %}
                                {{ community.how_to_join }}
                            {% endif %}
                        </p>

                        {% if community.discord %}
                            <p><strong>Discord:</strong> <a href="{{ community.discord }}"
                                                            target="_blank">{{ community.discord }}</a></p>
                        {% endif %}

                        {% if community.twitter %}
                            <p><strong>Twitter:</strong> <a href="{{ community.twitter }}"
                                                            target="_blank">{{ community.twitter }}</a></p>
                        {% endif %}

                        {% if community.twitter_hashtags %}
                            <p>
                                <strong>Twitterハッシュタグ:</strong>
                                {% for hashtag in community.twitter_hashtags %}
                                    <a href="https://twitter.com/hashtag/{{ hashtag|slice:"1:" }}?f=live"
                                       target="_blank">{{ hashtag }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="card my-5 shadow">
            <div class="card-body">
                <h2 class="my-4 text-center">{{ community.name }}の開催日程</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">日付</th>
                            <th scope="col">時間</th>
                            <th scope="col">発表者</th>
                            <th scope="col">テーマ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in scheduled_events %}
                            <tr{% if event.date|date:"Y-m-d" == today %} class="table-danger"{% endif %}>
                                <td>{{ event.date|date:"Y年m月d日" }}</td>
                                <td>{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</td>
                                <td>{{ event.speakers }}</td>
                                <td>{{ event.theme }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card my-5 shadow">
            <div class="card-body">
                <h2 class="my-4 text-center">{{ community.name }}の活動記録</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                        <tr>
                            <th scope="col">日付</th>
                            <th scope="col">時間</th>
                            <th scope="col">発表者</th>
                            <th scope="col">テーマ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in past_events %}
                            <tr{% if event.date|date:"Y-m-d" == today %} class="table-danger"{% endif %}>
                                <td>{{ event.date|date:"Y年m月d日" }}</td>
                                <td>{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</td>
                                <td>
                                    {% for detail in event.details.all %}
                                        {{ detail.speaker }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for detail in event.details.all %}
                                        <a href="{% url 'event:detail' detail.id %}">{{ detail.theme }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
