{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="container mt-4">
        <h1 class="text-center my-5">
            VRChat 技術・学術系コミュニティ一覧
        </h1>
        {#    検索フォーム   #}
        <form method="get" class="mb-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="input-group mb-3" style="width: 70%; margin: 0 auto;">
                        {{ form.query }}
                        <button type="submit" class="btn btn-primary">検索</button>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    {% for choice in form.weekdays %}
                        <div class="form-check form-check-inline">
                            {{ choice.tag }}
                            <label class="form-check-label"
                                   for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="text-end mt-3">
                <a href="{% url 'community:list' %}" class="btn btn-secondary ">クリア</a>
            </div>
        </form>
        <div class="text-end border-bottom">
            <div class="mb-2">
                件数：{{ search_count }}
            </div>
        </div>

        {#    集会一覧   #}
        {% for community in communities %}
            <div class="row py-3 my-3">
                <div class="col-md-4 order-md-1 order-2">
                    <a href="{% url 'community:detail' community.id %}">
                        <img src="{{ community.poster_image }}" alt="{{ community.name }}" class="img-fluid mb-4">
                    </a>
                </div>
                <div class="col-md-8 order-md-2 order-1">
                    <h2><a href="{% url 'community:detail' community.id %}"
                           class="text-body text-decoration-none">{{ community.name }}</a></h2>
                    <p><a href="{% url 'community:detail' community.id %}"
                          class="text-body text-decoration-none">{{ community.description|linebreaks|slice:":140" }}...</a>
                    </p>
                    <p><strong>開催曜日:</strong> {{ community.get_weekday_display }}</p>
                    <p><strong>開催時間:</strong> {{ community.start_time|date:"H:i" }}
                        - {{ community.end_time|date:"H:i" }}</p>
                    <p><strong>開催周期:</strong> {{ community.frequency }}</p>

                    <div class="mt-4">
                        <h3 class="h5">参加方法:</h3>
                        <p><strong>主催・副主催:</strong>
                            <a href="https://vrchat.com/home/search/{{ community.organizers }}"
                               target="_blank">{{ community.organizers }}</a>
                        </p>
                        <p>
                            {% if community.group_url %}
                                <strong>VRChatグループ:</strong>
                                <a href="{{ community.group_url }}"
                                   target="_blank">{{ community.group_url|slice:"18:" }}</a>
                            {% endif %}
                            {% if community.join_type == 'user_page' %}
                                <a href="{{ community.how_to_join }}"
                                   target="_blank">{{ community.organizers }}</a>
                            {% elif community.join_type == 'user_name' %}
                                <a href="https://vrchat.com/home/search/{{ community.how_to_join }}"
                                   target="_blank">{{ community.how_to_join }}</a>
                            {% elif community.join_type == 'world' %}
                                <a href="{{ community.how_to_join }}"
                                   target="_blank">{{ community.how_to_join }}</a>
                            {% else %}
                                {{ community.how_to_join }}
                            {% endif %}
                        </p>

                        {% if community.discord %}
                            <p><strong>Discord:</strong> <a href="{{ community.discord }}"
                                                            target="_blank">{{ community.discord }}</a></p>
                        {% endif %}

                        {% if community.twitter %}
                            <p><strong>Twitter:</strong> <a href="{{ community.twitter }}"
                                                            target="_blank">{{ community.twitter }}</a></p>
                        {% endif %}

                        {% if community.twitter_hashtags %}
                            <p>
                                <strong>Twitterハッシュタグ:</strong>
                                {% for hashtag in community.twitter_hashtags %}
                                    <a href="https://twitter.com/hashtag/{{ hashtag|slice:"1:" }}?f=live"
                                       target="_blank">{{ hashtag }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include "ta_hub/pagination.html" %}
    </div>
{% endblock %}