<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'speakers' %}active{% endif %}"
           href="{% url 'vket:manage' collaboration.id %}">
            <i class="fas fa-table me-1"></i>一覧
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'schedule' %}active{% endif %}"
           href="{% url 'vket:manage_schedule' collaboration.id %}">
            <i class="fas fa-calendar me-1"></i>日程表
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'notices' %}active{% endif %}"
           href="{% url 'vket:manage_notice_list' collaboration.id %}">
            <i class="fas fa-bell me-1"></i>お知らせ
        </a>
    </li>
</ul>
