{% extends 'ta_hub/base.html' %}
{% load django_bootstrap5 %}
{% block meta %}
    <title>VRC 技術・学術系 ライトニングトーク開催履歴 - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title"
          content="VRC 技術・学術系 ライトニングトーク開催履歴 - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="VRC 技術・学術系 ライトニングトーク開催履歴 - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="VRChat 技術・学術系 ライトニングトークの履歴を確認できます。集会名、発表者、テーマで検索ができてとても便利です。聞き逃したライトニングトークやもう一度聞きたいライトニングトークを探してみよう！">
    <meta name="twitter:description"
          content="VRChat 技術・学術系 ライトニングトークの履歴を確認できます。集会名、発表者、テーマで検索ができてとても便利です。聞き逃したライトニングトークやもう一度聞きたいライトニングトークを探してみよう！">
    <meta property="og:description"
          content="VRChat 技術・学術系 ライトニングトークの履歴を確認できます。集会名、発表者、テーマで検索ができてとても便利です。聞き逃したライトニングトークやもう一度聞きたいライトニングトークを探してみよう！">
    <meta property="og:image" content="https://data.vrc-ta-hub.com/images/twitter-negipan-1600.jpeg">
    <meta name="twitter:image" content="https://data.vrc-ta-hub.com/images/twitter-negipan-1600.jpeg">
{% endblock %}

{% block main %}
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-lg-12">
                <a href="{% url 'event:detail_history' %}" class="text-decoration-none text-black">
                    <h1 class="fw-bold keiko_yellow">VRChat 技術・学術系 ライトニングトーク開催履歴</h1>
                </a>
            </div>
        </div>
    </div>

    {% include 'event/detail_list_search.html' %}

    <div class="container mt-4">
        {% include 'ta_hub/messages.html' %}
        <div class="row mb-5">
            <div class="col-lg-12">
                {% include 'event/detail_list_table.html' %}
            </div>
        </div>
        <div class="mt-3 mb-5">
            {% include 'ta_hub/pagination.html' %}
        </div>
    </div>

{% endblock %}