{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>{{ event_detail.title }} - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="{{ event_detail.title }} - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="{{ event_detail.title }} - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="{{ event_detail }} {{ event_detail.meta_description }}">
    <meta name="twitter:description"
          content="{{ event_detail }} {{ event_detail.meta_description }}">
    <meta property="og:description"
          content="{{ event_detail }} {{ event_detail.meta_description }}">
    {% if event_detail.event.community.poster_image %}
        <meta property="og:image" content="{{ event_detail.event.community.poster_image.url }}">
        <meta name="twitter:image" content="{{ event_detail.event.community.poster_image.url }}">
    {% endif %}
    {#  FontAwesome  #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block main %}
    <style>
        .post h1 {
            font-size: 2rem;
            font-weight: 600;
            color: #333;
            padding: 10px;
            border-bottom: 2px solid #3187de;
            letter-spacing: 2px;
        }


        .post h2 {
            background-color: #cee7ff;
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            padding: 5px;
            padding-left: 10px;
            border-left: 5px solid #3187de;
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 500;
            font-size: 1.6rem;

        }

        .post h3 {
            padding: 5px;
            margin-top: 1.5rem;
            margin-bottom: 1.2rem;
            padding-left: 10px;
            border-bottom: 2px solid #3187de;
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.4rem;
        }

        .post h4 {
            padding: 5px;
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
            padding-left: 10px;
            border-left: 5px solid #a2d0ff;
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.2rem;
        }

        .post p {
            line-height: 2;
        }

        .post p,
        .post ul,
        .post ol {
            line-height: 1.8;

        }

        .post li {
            margin-bottom: 0.1em;
        }

        blockquote {
            background-color: #f9f9f9;
            border-left: 5px solid #3187de;
            padding: 0.5em;
            margin: 1em 0;
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
        }

        .shadow-hover {
            transition: box-shadow 0.3s ease-in-out;
        }

        .shadow-hover:hover {
            border: 1px solid #3187de;
            border-color: #3187de;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        }
    </style>
    <div class="container mt-5">
        <div class="row post mb-5">
            <div class="col-lg-12">
                {% include 'ta_hub/messages.html' %}
                <h1 class="mb-3">{{ event_detail.title }}</h1>
                {# Youtube動画を埋め込み#}
                {% if video_id %}
                    <div class="mb-3">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/{{ video_id }}"
                                    title="{{ event_detail.theme }} - {{ event_detail.speaker }}"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                {% endif %}

                {% if request.user == event_detail.event.community.custom_user %}
                    <div class="d-flex">
                        <a href="{% url 'event:my_list' %}"
                           class="btn btn-primary me-2">イベント一覧</a>

                        {% if event_detail.youtube_url or event_detail.slide_file %}
                            <form method="post" action="{% url 'event:generate_blog' event_detail.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary me-2" id="generate-button">
                                    記事生成
                                </button>
                            </form>
                        {% endif %}

                        <a href="{% url 'event:detail_update' event_detail.id %}"
                           class="btn btn-success me-2">編集</a>


                        <div><a href="{% url 'event:create' %}"
                                class="btn btn-secondary me-2">過去のイベントを登録</a>
                        </div>

                        <a href="{% url 'community:detail' event_detail.event.community.pk %}"
                           class="btn btn-secondary me-2">{{ event_detail.event.community.name }}</a>
                    </div>
                    <div class="mt-3">
                        <ul>
                            <li>希望の記事が作成されない場合、「記事生成」ボタンを押して再生成が可能です</li>
                            <li>記事の生成には約10〜20秒ほどかかります</li>
                            <li>「編集」機能を使用して、マークダウン形式で自由に編集できます</li>
                        </ul>
                    </div>
                {% endif %}
                <h2 class="zen-kaku-gothic-new-medium" style="margin-bottom: 1.3rem">詳細情報</h2>
                <div class="lead">
                    <table class="table table-responsive">
                        <tbody>
                      
                        <tr>
                            <th scope="row">日時</th>
                            <td>
                                {{ event_detail.event.date|date:"Y年m月d日" }}
                                {{ event_detail.start_time|date:"H:i" }}
                                - {{ event_detail.end_time|date:"H:i" }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">テーマ</th>
                            <td>{{ event_detail.theme }}</td>
                        </tr>
                        <tr>
                            <th scope="row">発表者</th>
                            <td>
                                <a href="{% url 'event:detail_history' %}?speaker={{ event_detail.speaker }}"
                                   class="me-2">{{ event_detail.speaker }}</a></td>
                        </tr>
                       
                        <tr>
                            <th scope="row">集会名</th>
                            <td>
                                <a href="{% url 'event:detail_history' %}?community_name={{ event_detail.event.community.name }}" class="me-2">
                                    {{event_detail.event.community.name }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">発表資料</th>
                            <td>
                                {% if event_detail.slide_url %}
                                <a href="{{ event_detail.slide_url }}" target="_blank" class="me-2">
                                    <i class="bi bi-link me-1"></i>リンク
                                </a>
                                {% endif %}
                                {% if event_detail.slide_file %}
                                <a href="{{ event_detail.slide_file.url }}" target="_blank">
                                    <i class="bi bi-file-earmark-text-fill me-1"></i>ファイル
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {# 動画がDiscord限定の場合、Discordのリンクを表示 #}
                        {% if is_discord %}

                            <tr>
                                <th scope="row">動画</th>
                                <td>
                                    <a href="{{ event_detail.youtube_url }}" target="_blank">
                                        <i class="fab fa-discord me-1"></i>Discordで見る</a>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div>
                    {{ html_content|safe }}
                </div>
                <div>
                    <h2>{{ event_detail.event.community.name }}の他の発表もチェック！</h2>
                    <div class="row g-4">
                        {% for related_event_detail in related_event_details %}

                            <div class="col-12">
                                <div class="card h-100 shadow-sm shadow-hover">
                                    <div class="card-body">
                                        <h3 class="card-title text-truncate mb-0"
                                            style="all: revert; font-size: 1.25rem; margin: 0;font-weight: 400;">
                                            {{ related_event_detail.h1 }}
                                        </h3>
                                        <a href="{% url 'event:detail' related_event_detail.id %}"
                                           class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h2>{{ event_detail.event.community.name }}の開催情報・参加方法</h2>
                    <div class="card h-100 shadow-sm shadow-hover">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    {% if event_detail.event.community.poster_image %}
                                        <img src="{{ event_detail.event.community.poster_image.url }}" 
                                             class="img-fluid rounded" 
                                             alt="{{ event_detail.event.community.name }}のポスター">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <h3 class="card-title" style="all: revert; font-size: 1.25rem; margin: 0 0 1rem 0;font-weight: 400;">
                                        {{ event_detail.event.community.name }}
                                    </h3>
                                    <p class="mb-2">
                                        <i class="bi bi-calendar-event me-2"></i>
                                        開催日: {{ event_detail.event.date|date:"Y年m月d日" }}
                                    </p>
                                  
                                    <p class="mb-2">
                                        <i class="bi bi-alarm me-2"></i>
                                        開催時間: {{ community_schedule.start_time|date:"H:i" }} - {{ community_schedule.end_time|date:"H:i" }}
                                    </p>
                                    <p class="mb-2"></p>
                                        <i class="bi bi-calendar-week me-2"></i>
                                        開催曜日: {% for weekday in community_schedule.weekdays %}{{ weekday }}{% if not forloop.last %}・{% endif %}{% endfor %}
                                    </p>
                                    <p class="mb-2">
                                        <i class="bi bi-arrow-repeat me-2"></i>
                                        開催周期: {{ community_schedule.frequency }}
                                    </p>
                                    <p class="mb-3">{{ event_detail.event.community.description }}</p>
                                </div>
                            </div>
                            <a href="{% url 'community:detail' event_detail.event.community.pk %}" 
                               class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        document.getElementById('generate-button').addEventListener('click', function (event) {
            event.target.disabled = true;
            event.target.textContent = '生成中...';
            event.target.form.submit();
        });
    </script>
{% endblock %}
