{% extends 'ta_hub/base.html' %}

{% block main %}
    <style>
        label {
            margin-bottom: 0.5rem;
        }

    </style>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">イベント詳細の{% if form.instance.pk %}編集{% else %}作成{% endif %}</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">保存</button>
                            </div>
                        </form>
                        <div class="p-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 mx-auto mt-2">
                ※ スライドが非公開で、記事作成はOKの場合、スライドを登録して、記事を作成してからスライドを削除すれば記事だけを作成できます。<br>
                ※ リンクには外部のスライドシステムのリンクを張ります。リンクから記事を作成できないので一度PDFで登録して記事を作成して削除をおすすめします。<br>
                ※ 利用可能な<a href="{% url 'event:markdown' %}">markdownの一覧と書き方</a><br>
            </div>

        </div>
    </div>
{% endblock %}