{% extends 'ta_hub/base.html' %}
{% block meta %}
    <title>{{ event_detail.theme }} - VRChat 技術・学術系イベントHub</title>
    <meta name="twitter:title" content="{{ event_detail.theme }} - VRChat 技術・学術系イベントHub">
    <meta property="og:title" content="{{ event_detail.theme }} - VRChat 技術・学術系イベントHub">
    <meta name="description"
          content="{{ event_detail }} {{ event_detail.contents|truncatechars:"100" }}">
    <meta name="twitter:description"
          content="{{ event_detail }} {{ event_detail.contents|truncatechars:"100" }}">
    <meta property="og:description"
          content="{{ event_detail }} {{ event_detail.contents|truncatechars:"100" }}">
    <meta property="og:image" content="{{ event_detail.event.community.poster_image.url }}">
    <meta name="twitter:image" content="{{ event_detail.event.community.poster_image.url }}">
{% endblock %}
{% block main %}
    <style>
        .post h2 {
            background-color: #cee7ff;
            margin-top: 20px;
            margin-bottom: 15px;
            padding: 5px;
            padding-left: 10px;
            border-left: 5px solid #3187de;
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
        }

        .post h3 {
            padding: 5px;
            margin: 10px 0px;
            padding-left: 10px;
            border-left: 5px solid #3187de;
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
        }

        .post h4 {
            padding: 5px;
            margin: 10px 0px;
            padding-left: 10px;
            border-left: 5px solid #a2d0ff;
            font-family: "Noto Sans JP", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3rem;
        }

    </style>
    <div class="container mt-4">
        <div class="row post mb-5">
            <div class="col-lg-12">
                <h1 class="mb-3">{{ event_detail.theme }}</h1>
                {% if video_id %}
                    <div class="mb-3">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/{{ video_id }}"
                                    title="{{ event_detail.theme }} - {{ event_detail.speaker }}"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                {% endif %}
                {% if request.user == event_detail.event.community.custom_user %}
                    <div class="d-flex">
                        <a href="{% url 'event:detail_update' event_detail.id %}"
                           class="btn btn-primary me-2">編集</a>
                        <form method="post" action="{% url 'event:generate_blog' %}">
                            {% csrf_token %}
                            <input type="hidden" name="event_detail_id" value="{{ event_detail.id }}">
                            <button type="submit" class="btn btn-primary">動画からコンテンツを生成</button>
                        </form>
                    </div>
                {% endif %}
                <h2 class="zen-kaku-gothic-new-medium">詳細情報</h2>
                <div class="lead mb-2">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row">集会名</th>
                            <td>{{ event_detail.event.community.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">日時</th>
                            <td>
                                {{ event_detail.event.date|date:"Y年m月d日" }}
                                {{ event_detail.event.start_time|date:"H:i" }}
                                - {{ event_detail.event.end_time|date:"H:i" }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">発表者</th>
                            <td>{{ event_detail.speaker }}</td>
                        </tr>
                        <tr>
                            <th scope="row">発表資料</th>
                            <td>
                                {% if event_detail.slide_url %}
                                    <a href="{{ event_detail.slide_url }}" target="_blank" class="me-2">
                                        <i class="bi bi-link"></i>リンク
                                    </a>
                                {% endif %}
                                {% if event_detail.slide_file %}
                                    <a href="{{ event_detail.slide_file.url }}" target="_blank">
                                        <i class="bi bi-file-earmark-text-fill"></i>ファイル
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    {{ html_content|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
