<div class="table-responsive">
    <table class="table table-hover table-nowrap">
        <thead class="table-light">
        <tr>
            <th scope="col" style="min-width: 140px">集会名</th>
            <th scope="col" style="min-width: 142px">日付</th>
            <th scope="col" style="min-width: 120px">時間<br/>(日本時間)</th>
            {% if 'history' in request.path %}
                <th scope="col" style="min-width: 73px">資料</th>
            {% endif %}
            <th scope="col" style="min-width: 140px">発表者(敬称略)</th>
            <th scope="col" style="min-width: 300px">テーマ</th>

        </tr>
        </thead>
        <tbody>
        {% for detail in event_details %}
            <tr>
                <td>
                    <a href="{{ request.path }}?{{ request.GET.urlencode }}&community_name={{ detail.event.community.name }}">
                        {{ detail.event.community.name }}
                    </a>
                </td>
                <td>{{ detail.event.date|date:"Y年m月d日" }}</td>
                <td>{{ detail.start_time|date:"H:i" }} - {{ detail.end_time|date:"H:i" }}</td>
                {% if 'history' in request.path %}

                    <td>
                        {% if detail.youtube_url %}
                            <i class="bi bi-play-btn" title="動画"></i>
                        {% endif %}
                        {% if detail.slide_url %}
                            <i class="bi bi-link-45deg" title="リンク"></i>
                        {% endif %}
                        {% if detail.slide_file %}
                            <i class="bi bi-file-text" title="スライド"></i>
                        {% endif %}
                        {% if detail.contents %}
                            <i class="bi bi-pencil-square" title="コンテンツあり"></i>
                        {% endif %}

                    </td>
                {% endif %}
                <td>
                    <a href="{{ request.path }}?{{ request.GET.urlencode }}&speaker={{ detail.speaker }}">
                        {{ detail.speaker }}
                    </a>
                </td>
                <td><a href="{% url 'event:detail' detail.pk %}">{{ detail.theme }}</a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
