{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-lg-12">
                <h1 class="">VRChat 技術学術系 イベント開催情報</h1>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12">
                <table class="text-center table table-bordered">
                    <tr>
                        <th>開催日</th>
                        <th>開始時間</th>
                        <th>プラットフォーム</th>
                        <th>イベント名</th>
                        <th>主催</th>
                        <th>参加方法</th>
                    </tr>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date|date:"Y年n月j日（D）" }}</td>
                            <td>{{ event.start_time }}</td>
                            <td>
                                {{ event.meeting.get_platform_display }}</td>
                            <td>{{ event.meeting.name }}</td>
                            <td>{{ event.meeting.organizers }}</td>
                            <td>
                                {% if event.meeting.group_url %}
                                    <a href="{{ event.meeting.group_url }}" target="_blank">VRChatグループ</a>
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}