{% extends 'ta_hub/base.html' %}
{% block main %}
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-lg-12">
                <h1 class="">VRChat 技術学術系 イベント開催情報</h1>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <div class="d-flex justify-content-center">
                    <iframe src="https://calendar.google.com/calendar/embed?src=fbd1334d10a177831a23dfd723199ab4d02036ae31cbc04d6fc33f08ad93a3e7%40group.calendar.google.com"
                            style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="text-center table table-bordered">
                    <tr>
                        <th>開催日</th>
                        <th>開始時間</th>
                        <th>プラットフォーム</th>
                        <th>イベント名</th>
                        <th>主催</th>
                        <th>参加方法</th>
                    </tr>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.date|date:"Y年n月j日（D）" }}</td>
                            <td>{{ event.start_time }}</td>
                            <td>
                                {{ event.community.get_platform_display }}</td>
                            <td>
                                <a href="{% url 'community:detail' event.community.pk %}"
                                   target="_blank">{{ event.community.name }}</a>
                            </td>
                            <td>{{ event.community.organizers }}</td>
                            <td>
                                {% if event.community.group_url %}
                                    <a href="{{ event.community.group_url }}" target="_blank">VRChatグループ</a>
                                {% else %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}