{% extends 'ta_hub/base.html' %}
{% load django_bootstrap5 %}

{% block main %}
    <div class="container my-4">
        <a href="{% url 'community:list' %}" class="text-decoration-none text-black">
            <h1 class="text-center my-5 fw-bold keiko_yellow">
                {{ request.user }} イベント一覧
            </h1>
        </a>
        {% for event in events %}
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card-text mb-2">{{ event.community.name }}</div>
                                    <div class="card-text mb-2">開催日: {{ event.date }}</div>
                                    <div class="card-text mb-2">開始時刻: {{ event.start_time }}</div>
                                </div>
                                <div class="col-md-6">
                                    {% for detail in event.detail_list %}
                                        <div class="card-text mb-2">テーマ: {{ detail.theme }}</div>
                                        <div class="card-text mb-2">発表者: {{ detail.speaker }}</div>
                                        <a href="{% url 'event:detail' detail.pk %}" class="btn btn-primary">確認</a>
                                        <a href="{% url 'event:detail_update' detail.pk %}"
                                           class="btn btn-success">編集</a>
                                        <form method="post" action="{% url 'event:detail_delete' detail.pk %}"
                                              class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger"
                                                    onclick="return confirm('本当に削除しますか？');">削除
                                            </button>
                                        </form>
                                        <hr/>

                                    {% endfor %}
                                    <div class="d-flex align-items-end mb-2 mt-3">
                                        <a href="{% url 'event:detail_create' event.pk %}" class="btn btn-primary">スライド・動画を登録</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <p>イベントがありません。</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}