{% extends 'ta_hub/base.html' %}
{% load django_bootstrap5 %}

{% block main %}
    <div class="container my-4">
        <a href="{% url 'community:list' %}" class="text-decoration-none text-black">
            <h1 class="text-center my-5 fw-bold keiko_yellow">
                {{ request.user }} イベント一覧
            </h1>
        </a>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 mb-4">
                {% include 'ta_hub/messages.html' %}
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            {% if community %}
                <div>
                    <a href="{% url 'community:detail' community.pk %}"
                       class="btn btn-primary me-2">{{ community.name }}</a>
                </div>
                <div><a href="{% url 'event:detail_history' %}?community_name={{ community.name }}"
                        class="btn btn-primary me-2">LT履歴</a>
                </div>
                <div><a href="{% url 'event:create' %}"
                        class="btn btn-primary me-2">過去のイベントを登録</a>
                </div>
            {% endif %}

        </div>
        {% for event in events %}
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="card-text mb-2">開催日: {{ event.date }}</div>
                                    <div class="card-text mb-2">開始時刻: {{ event.start_time }}</div>
                                    <div class="d-flex align-items-end mb-2 mt-3">
                                        <a href="{% url 'event:detail_create' event.pk %}"
                                           class="btn btn-outline-primary">スライド・動画を登録</a>
                                        <form method="post" action="{% url 'event:delete' event.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-outline-danger ms-2"
                                                    onclick="return confirm('本当に削除しますか？');">削除
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    {% for detail in event.detail_list %}

                                        <div class="card-text mb-2">テーマ: {{ detail.theme }}</div>
                                        <div class="card-text mb-2">発表者: {{ detail.speaker }}</div>
                                        <div class="card-text mb-2">開始時間: {{ detail.start_time }}</div>
                                        <div class="mb-2">
                                            {% if detail.youtube_url %}
                                                <i class="bi bi-youtube" title="動画あり"></i>
                                            {% endif %}
                                            {% if detail.slide_url %}
                                                <i class="bi bi-link-45deg" title="スライドリンクあり"></i>
                                            {% endif %}
                                            {% if detail.slide_file %}
                                                <i class="bi bi-file-earmark" title="スライドファイルあり"></i>
                                            {% endif %}
                                            {% if detail.contents %}
                                                <i class="bi bi-file-text" title="コンテンツあり"></i>
                                            {% endif %}
                                        </div>
                                        <a href="{% url 'event:detail' detail.pk %}" class="btn btn-primary">確認</a>
                                        <a href="{% url 'event:detail_update' detail.pk %}"
                                           class="btn btn-success">編集</a>
                                        <form method="post" action="{% url 'event:detail_delete' detail.pk %}"
                                              class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger"
                                                    onclick="return confirm('本当に削除しますか？');">削除
                                            </button>
                                        </form>
                                        {% if not forloop.last %}
                                            <hr>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="row">
                <p>イベントがありません。</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}