{% extends 'ta_hub/base.html' %}
{% load django_bootstrap5 %}

{% block main %}
    <div class="container my-4">
        <h2>{{ request.user }} イベント開催一覧</h2>
        <div class="row">
            {% for event in events %}
                <div class="col-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title">{{ event.community.name }}</h5>
                                    <p class="card-text">開催日: {{ event.date }}</p>
                                    <p class="card-text">開始時刻: {{ event.start_time }}</p>
                                    <p class="card-text">主催: {{ event.community.organizers }}</p>
                                </div>
                                <div class="col-md-6">
                                    {% if event.details.exists %}

                                        <p class="card-text">テーマ:
                                            <a href="{% url 'event:detail' event.details.pk %}"
                                               class=" me-2">{{ event.details.first.theme }}</a>
                                        </p>
                                        <p class="card-text">発表者: {{ event.details.first.speaker }}</p>
                                        <a href="{% url 'event:detail_update' event.details.first.pk %}"
                                           class="btn btn-secondary">編集</a>
                                    {% else %}
                                        <p class="card-text">
                                            <a href="{% url 'event:detail_create' event.pk %}" class="btn btn-success">スライド・動画を登録</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12">
                    <p>イベントがありません。</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}